<!doctype html>
<html>
<head>
    <title>DocXPand document templates</title>
    <link rel="stylesheet" href="showcase.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" defer></script>
    <script src="showcase.js" defer></script>
</head>
<body>

<main class="grid">
    <button class="rotator">
        <img src="id_card_td1_a/front.png" class="td1" alt="id_card_td1_a_front" />
        <div class="glare"></div>
    </button>
    <button class="rotator">
        <img src="id_card_td1_a/back.png" class="td1" alt="id_card_td1_a_back" />
        <div class="glare"></div>
    </button>
    <button class="rotator">
        <img src="id_card_td1_b/front.png" class="td1" alt="id_card_td1_b_front" />
        <div class="glare"></div>
    </button>
    <button class="rotator">
        <img src="id_card_td1_b/back.png" class="td1" alt="id_card_td1_b_back" />
        <div class="glare"></div>
    </button>
    <button class="rotator">
        <img src="rp_card_td1/front.png" class="td1" alt="rp_card_td1_front" />
        <div class="glare"></div>
    </button>
    <button class="rotator">
        <img src="rp_card_td1/back.png" class="td1" alt="rp_card_td1_back" />
        <div class="glare"></div>
    </button>
    <button class="rotator">
        <img src="id_card_td2_a/front.png" class="td2" alt="id_card_td2_a_front" />
        <div class="glare"></div>
    </button>
    <button class="rotator">
        <img src="id_card_td2_a/back.png" class="td2" alt="id_card_td2_a_back" />
        <div class="glare"></div>
    </button>
    <button class="rotator">
        <img src="id_card_td2_b/front.png" class="td2" alt="id_card_td2_b_front" />
        <div class="glare"></div>
    </button>
    <button class="rotator">
        <img src="id_card_td2_b/back.png" class="td2" alt="id_card_td2_b_back" />
        <div class="glare"></div>
    </button>
    <button class="rotator">
        <img src="rp_card_td2/front.png" class="td2" alt="rp_card_td2_front" />
        <div class="glare"></div>
    </button>
    <button class="rotator">
        <img src="rp_card_td2/back.png" class="td2" alt="rp_card_td2_back" />
        <div class="glare"></div>
    </button>
    <button class="rotator">
        <img src="pp_td3_a/front.png" class="td3" alt="pp_td3_a" />
        <div class="glare"></div>
    </button>
    <button class="rotator">
        <img src="pp_td3_b/front.png" class="td3" alt="pp_td3_b" />
        <div class="glare"></div>
    </button>
    <button class="rotator">
        <img src="pp_td3_c/front.png" class="td3" alt="pp_td3_c" />
        <div class="glare"></div>
    </button>
</main>

</body>
</html>
